# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
android/app/build/
android/app/src/main/assets/public/

# Capacitor dynamic files
android/
capacitor.config.json.tmp

# IDE / System
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
